@{
    ViewData["Title"] = "Welcome page";
}
<style>
    body {
        background-image: url("https://i.ibb.co/TL7VsRB/87850.jpg");
    }
</style>

<link rel="stylesheet" href="~/css/WelcomeAnimation.css" />

<body>
    <div1>Welcome to</div1>
    <div1>
        <span> CryptoTourism</span>
    </div1>

</body>