@{
    ViewData["Title"] = "CryptoPayment";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>CRYPTOPAYMENT QR CODE</h1>
            <h3>Scan this QR Code and pay with crypto of your choice</h3>
            <br />
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
            <img src="https://i.ibb.co/N144RBB/qrcode.jpg" alt="qrcode" border="0" class="w3-animate-opacity">
        </div>
    </div>
</div>

